---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;
const post = (await getCollection('posts')).find((p) => p.slug === slug)!;
---

<h1>{post.data.title}</h1>
<article class="prose" set:html={post.body}></article>