---
import "../styles/global.css";
import Navbar from "../components/Navbar";
import Header from "../components/Header.astro";
import PostGrid from "../components/PostGrid.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <title>HackLab — Posts</title>
  </head>
  <body class="bg-white dark:bg-[#010102] min-h-screen flex flex-col">
    <Navbar client:only="react" />

    <Header
      title="HackLab"
      subtitle="Explorando desarrollo web, UI y más."
      videoUrl="./background.mp4"
    />

    <main class="pt-10 pb-10">
      <PostGrid posts={posts} />
    </main>
  </body>
</html>
