---
import '../styles/global.css'
import Navbar from "../components/Navbar";
import PostListLayout from "../layouts/PostListLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<html lang="en">
  <body class="bg-white dark:bg-[#010102] min-h-screen">
    <Navbar client:only="react" />

    <PostListLayout posts={posts.map((post) => ({
      title: post.data.title,
      slug: post.slug,
      excerpt: post.data.excerpt,
      date: post.data.date,
    }))} />
  </body>
</html>