---
import "../styles/global.css";
import Navbar from "../components/Navbar";
import Header from "../components/Header.astro";
import PostGrid from "../components/PostGrid.astro";
import ContentLayout from "../components/ContentLayout.astro";
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";

const posts = await getCollection("posts");
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <title>HackLab — Posts</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    class="bg-white dark:bg-[#0B0B0B] min-h-screen flex flex-col text-black dark:text-white"
  >
    <Navbar client:only="react" posts={posts} />

    <Header
      title="What I thought"
      subtitle="DEV, PRODUCT & MUCH MORE."
      videoUrl="./background.mp4"
    />

    <main class="py-5 mt-10">
      <ContentLayout>
        <section>
          <p class="indent-3 text-justify text-zinc-700 dark:text-zinc-300">
            As an indie dev, I enjoy sharing and writing about technologies,
            ideas, business, trends, and everything related to the digital
            world. This blog is my space to explore and reflect on topics I am
            passionate about, always aiming to provide value to other developers
            and enthusiasts in the field.
          </p>
        </section>

        {/* Grid con los posts dentro del layout */}
        <PostGrid posts={posts} />
      </ContentLayout>
    </main>
  </body>
  <Footer />
</html>
