---
const { post, Content } = Astro.props;
---

<article class="prose dark:prose-invert max-w-3xl mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">{post.data.title}</h1>
  {post.data.date && (
    <time class="block mb-6 text-zinc-500 text-sm">
      {new Date(post.data.date).toLocaleDateString()}
    </time>
  )}

  <!-- Aquí se insertan los contenidos Markdown -->
  <Content />
</article>